In [ ]:
import pandas as pd

In [6]:
pd.set_option('display.max_columns', None)
train_abbr = pd.read_csv('../data/happiness_train_abbr.csv')
test_abbr = pd.read_csv('../data/happiness_test_abbr.csv')
# train_complete = pd.read_csv('../data/happiness_train_complete.csv')
# test_complete = pd.read_csv('../data/happiness_test_complete.csv')

In [10]:
train_abbr.info()
train_abbr.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 42 columns):
id                 8000 non-null int64
happiness          8000 non-null int64
survey_type        8000 non-null int64
province           8000 non-null int64
city               8000 non-null int64
county             8000 non-null int64
survey_time        8000 non-null object
gender             8000 non-null int64
birth              8000 non-null int64
nationality        8000 non-null int64
religion           8000 non-null int64
religion_freq      8000 non-null int64
edu                8000 non-null int64
income             8000 non-null int64
political          8000 non-null int64
floor_area         8000 non-null float64
height_cm          8000 non-null int64
weight_jin         8000 non-null int64
health             8000 non-null int64
health_problem     8000 non-null int64
depression         8000 non-null int64
hukou              8000 non-null int64
socialize          8000 non-null int64
relax              8000 non-null int64
learn              8000 non-null int64
equity             8000 non-null int64
class              8000 non-null int64
work_exper         8000 non-null int64
work_status        2951 non-null float64
work_yr            2951 non-null float64
work_type          2951 non-null float64
work_manage        2951 non-null float64
family_income      7999 non-null float64
family_m           8000 non-null int64
family_status      8000 non-null int64
house              8000 non-null int64
car                8000 non-null int64
marital            8000 non-null int64
status_peer        8000 non-null int64
status_3_before    8000 non-null int64
view               8000 non-null int64
inc_ability        8000 non-null int64
dtypes: float64(6), int64(35), object(1)
memory usage: 2.6+ MB

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
1464,1465,5,1,30,85,128,2015/10/4 9:25,1,1934,1,1,1,4,58000,4,44.0,175,126,4,5,5,2,2,4,2,4,4,5,NaN,NaN,NaN,NaN,72000.0,2,3,5,1,3,2,3,5,2
2242,2243,4,1,12,32,59,2015/8/6 18:51,2,1938,1,1,1,3,40800,1,60.0,150,90,3,5,5,5,3,4,1,3,5,5,NaN,NaN,NaN,NaN,120000.0,2,4,1,2,3,2,2,4,2
2746,2747,4,2,13,35,65,2015/9/22 19:32,1,1961,6,1,1,4,-3,1,140.0,165,106,4,5,4,1,5,5,2,2,5,3,NaN,NaN,NaN,NaN,-3.0,4,2,1,2,3,2,2,4,2
5114,5115,4,1,27,78,118,2015/8/1 16:13,2,1960,1,1,1,10,60000,1,108.0,166,130,3,4,4,5,4,3,4,4,6,1,3.0,30.0,1.0,2.0,80000.0,2,3,1,2,3,2,2,4,2
4111,4112,4,2,9,21,43,2015/7/6 18:48,2,1970,1,1,1,4,8000,1,100.0,155,105,4,4,4,1,2,2,4,4,5,1,3.0,4.0,1.0,2.0,20000.0,1,3,2,2,3,2,2,5,2
2518,2519,4,2,18,52,85,2015/7/21 14:37,2,1945,1,1,1,1,0,1,200.0,157,120,3,3,4,1,3,5,1,3,5,4,NaN,NaN,NaN,NaN,30000.0,2,3,1,2,7,2,2,3,2
2754,2755,4,2,16,45,76,2015/7/24 18:26,2,1962,1,-8,1,4,15000,1,120.0,163,113,3,4,4,1,5,4,2,2,5,3,NaN,NaN,NaN,NaN,20000.0,2,2,1,2,3,2,1,4,2
3819,3820,5,2,16,46,78,2015/7/31 13:09,2,1937,1,1,1,1,0,1,120.0,158,100,4,4,4,1,2,4,1,5,4,4,NaN,NaN,NaN,NaN,4800.0,2,2,2,2,3,3,2,4,2
7114,7115,4,1,21,64,101,2015/7/16 8:21,1,1983,1,1,1,3,50000,1,140.0,178,160,5,5,5,1,2,4,1,4,3,1,2.0,10.0,1.0,1.0,50000.0,3,2,1,1,3,2,3,4,3
3856,3857,4,2,29,84,127,2015/7/21 11:00,1,1972,1,1,1,3,5000,1,90.0,170,104,4,5,3,1,4,4,2,4,3,1,5.0,23.0,2.0,3.0,17000.0,1,2,1,2,3,3,1,2,2
7666,7667,3,1,26,75,115,2015/8/5 10:28,1,1947,1,1,1,3,7000,1,15.0,170,100,5,5,4,1,3,2,1,2,3,1,8.0,25.0,1.0,4.0,7000.0,1,2,1,2,5,3,2,3,3
3093,3094,3,2,6,13,29,2015/8/6 12:25,2,1972,1,1,1,4,20000,1,115.0,158,98,3,3,3,1,3,3,3,3,4,3,NaN,NaN,NaN,NaN,50000.0,3,3,1,2,3,2,2,3,2
3955,3956,4,1,7,18,39,2015/8/12 20:32,2,1955,1,1,1,6,24000,1,63.0,165,140,4,5,5,5,1,3,1,4,5,5,NaN,NaN,NaN,NaN,24000.0,2,2,1,2,3,2,2,4,2
2005,2006,3,1,4,7,15,2015/10/1 11:21,2,1966,1,1,3,4,20000,1,58.0,158,170,2,1,3,4,3,2,1,2,1,5,NaN,NaN,NaN,NaN,35000.0,2,2,0,2,3,3,2,-8,3
4595,4596,4,1,26,74,114,2015/8/11 16:29,2,1945,1,1,1,3,24000,1,70.0,153,90,4,4,4,4,3,5,1,4,5,5,NaN,NaN,NaN,NaN,-2.0,1,3,1,2,7,2,2,3,2
2570,2571,4,1,1,1,2,2015/8/31 19:36,1,1954,1,0,3,4,-3,1,42.0,172,140,4,5,5,2,2,4,2,2,4,5,NaN,NaN,NaN,NaN,110400.0,3,3,1,2,3,3,3,3,-8
759,760,3,2,9,23,45,2015/7/2 19:59,1,1945,1,0,1,3,0,1,160.0,162,90,4,5,3,1,4,4,1,4,3,5,NaN,NaN,NaN,NaN,40000.0,3,3,1,1,7,2,3,4,2
2911,2912,4,2,31,89,134,2015/8/19 16:46,1,1947,1,1,1,3,2660,4,70.0,160,120,2,2,3,1,5,5,2,3,4,3,NaN,NaN,NaN,NaN,5900.0,2,2,1,2,4,3,1,2,2
7138,7139,4,1,2,4,11,2015/8/1 16:08,2,1997,1,1,4,7,-1,1,150.0,160,95,5,5,4,1,4,4,4,4,2,6,NaN,NaN,NaN,NaN,-2.0,4,2,1,2,1,3,2,4,-8
7176,7177,4,1,6,15,31,2015/8/9 15:02,2,1978,1,1,1,4,-1,1,75.0,155,90,5,4,5,1,3,4,1,4,6,5,NaN,NaN,NaN,NaN,36000.0,4,2,1,2,4,2,1,3,2

In [19]:
train_abbr.loc[train_abbr['work_status'].isnull()].sample(20)
#其中 工作一项有null值，所有以务农为业的人为null，非农业工作有值

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
264,265,3,1,30,85,128,2015/10/2 11:10,2,1956,5,0,1,3,0,1,60.0,165,130,4,4,3,2,3,4,2,2,3,4,NaN,NaN,NaN,NaN,50000.0,5,2,2,1,3,3,2,1,2
7984,7985,4,1,21,62,98,2015/7/19 8:40,2,1935,8,1,1,7,14000,1,230.0,162,70,4,4,4,2,3,3,3,4,5,4,NaN,NaN,NaN,NaN,50000.0,4,3,1,2,7,2,2,3,2
1946,1947,4,1,18,55,89,2015/7/25 11:12,2,1947,1,1,1,1,26500,1,260.0,165,130,3,5,5,2,2,3,2,4,5,5,NaN,NaN,NaN,NaN,70000.0,2,3,1,2,3,2,2,3,2
3532,3533,4,2,28,81,123,2015/7/31 16:42,2,1937,1,1,1,1,12000,1,120.0,148,71,2,2,4,1,3,3,1,4,5,4,NaN,NaN,NaN,NaN,12000.0,2,3,1,2,3,2,1,4,2
65,66,4,1,1,1,4,2015/8/21 14:46,2,1922,4,0,2,4,39600,1,79.0,150,85,1,1,3,2,1,3,1,4,4,5,NaN,NaN,NaN,NaN,150000.0,4,2,1,2,7,3,2,3,3
2568,2569,4,1,15,43,74,2015/7/14 17:05,2,1937,1,1,1,6,30000,1,100.0,155,130,4,4,4,2,3,3,2,4,8,5,NaN,NaN,NaN,NaN,130000.0,2,5,1,2,3,1,2,4,2
1464,1465,5,1,30,85,128,2015/10/4 9:25,1,1934,1,1,1,4,58000,4,44.0,175,126,4,5,5,2,2,4,2,4,4,5,NaN,NaN,NaN,NaN,72000.0,2,3,5,1,3,2,3,5,2
3540,3541,4,1,13,36,67,2015/9/11 18:21,2,1952,1,1,1,6,20000,1,129.0,160,140,2,3,3,2,3,4,2,4,5,5,NaN,NaN,NaN,NaN,-2.0,2,3,2,1,3,3,2,3,3
1972,1973,4,2,6,14,30,2015/8/6 10:03,2,1972,1,1,1,6,0,4,150.0,165,110,4,4,4,1,3,3,3,4,6,3,NaN,NaN,NaN,NaN,30000.0,2,3,1,2,3,3,1,4,2
3405,3406,5,2,9,22,44,2015/7/6 14:32,1,1947,1,1,1,7,30000,1,240.0,165,98,4,3,4,2,4,4,2,5,7,5,NaN,NaN,NaN,NaN,60000.0,4,4,2,2,3,2,2,5,1
1867,1868,5,2,23,68,108,2015/10/2 17:10,1,1956,1,1,1,3,3000,1,140.0,170,120,5,5,5,1,2,2,1,4,7,3,NaN,NaN,NaN,NaN,-2.0,1,3,1,1,1,2,1,5,1
3583,3584,3,2,31,87,131,2015/8/17 16:22,2,1962,1,1,1,1,20000,1,70.0,155,106,2,3,3,1,2,4,1,3,1,4,NaN,NaN,NaN,NaN,60000.0,2,3,1,2,4,3,1,2,3
1963,1964,4,2,5,8,23,2015/8/2 10:02,2,1940,1,1,1,3,6000,1,50.0,158,130,4,4,5,1,2,4,1,2,2,4,NaN,NaN,NaN,NaN,12000.0,2,1,0,2,3,3,2,4,-8
3963,3964,4,2,13,35,65,2015/9/21 10:40,1,1950,6,1,1,3,8000,1,110.0,170,140,3,3,3,1,2,3,2,4,5,2,NaN,NaN,NaN,NaN,8000.0,2,2,1,2,3,3,2,4,2
6476,6477,4,1,12,32,59,2015/8/7 10:20,1,1954,1,0,1,6,20000,1,38.0,167,120,3,3,4,2,2,4,3,2,8,5,NaN,NaN,NaN,NaN,60000.0,2,2,2,1,3,2,2,3,2
4646,4647,1,2,31,87,132,2015/8/13 19:27,2,1980,1,1,1,4,5000,1,90.0,158,120,4,5,5,1,2,4,2,4,6,3,NaN,NaN,NaN,NaN,-2.0,5,3,1,1,3,2,1,3,2
3342,3343,3,2,13,37,68,2015/9/1 8:51,1,1935,1,1,1,4,1140,1,120.0,170,93,3,3,3,1,4,4,1,4,4,4,NaN,NaN,NaN,NaN,18000.0,5,3,1,2,7,3,1,3,2
7039,7040,3,1,1,1,3,2015/9/21 16:41,1,1947,1,1,1,4,40000,1,89.0,177,180,2,2,3,2,3,4,3,2,6,5,NaN,NaN,NaN,NaN,75000.0,4,3,2,1,3,2,2,4,2
3337,3338,5,1,31,86,129,2015/8/20 18:05,1,1939,1,1,1,3,35000,1,80.0,176,160,2,4,3,2,1,5,1,5,6,5,NaN,NaN,NaN,NaN,50000.0,2,3,1,2,3,2,1,5,2
3041,3042,2,2,2,2,9,2015/7/23 19:39,2,1982,8,1,1,4,-2,1,100.0,160,90,4,5,2,1,3,3,1,4,2,4,NaN,NaN,NaN,NaN,-2.0,5,1,2,2,3,3,2,4,3

In [21]:
train_abbr.loc[train_abbr['family_income'].isnull()]

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
3129,3130,3,2,31,87,132,2015/8/16 12:38,2,1970,1,1,1,3,25000,1,90.0,160,90,2,5,3,1,4,3,1,1,1,3,NaN,NaN,NaN,NaN,NaN,4,1,1,2,3,2,1,2,3

In [31]:
#获取农村的、务农的人的家庭收入的平均数填入空值中
train_abbr.loc[(train_abbr['survey_type'] == 2 )& (train_abbr['work_exper'] == 3)&(train_abbr['family_income']>0)]['family_income'].mean()

39307.41739130435