In [11]:
import pandas as pd
from sklearn import model_selection
from sklearn import tree

In [3]:
pd.set_option('display.max_columns', None)
train_abbr = pd.read_csv('../data/happiness_train_abbr.csv')
test_abbr = pd.read_csv('../data/happiness_test_abbr.csv')
# train_complete = pd.read_csv('../data/happiness_train_complete.csv')
# test_complete = pd.read_csv('../data/happiness_test_complete.csv')

In [4]:
train_abbr.info()
train_abbr.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 42 columns):
id                 8000 non-null int64
happiness          8000 non-null int64
survey_type        8000 non-null int64
province           8000 non-null int64
city               8000 non-null int64
county             8000 non-null int64
survey_time        8000 non-null object
gender             8000 non-null int64
birth              8000 non-null int64
nationality        8000 non-null int64
religion           8000 non-null int64
religion_freq      8000 non-null int64
edu                8000 non-null int64
income             8000 non-null int64
political          8000 non-null int64
floor_area         8000 non-null float64
height_cm          8000 non-null int64
weight_jin         8000 non-null int64
health             8000 non-null int64
health_problem     8000 non-null int64
depression         8000 non-null int64
hukou              8000 non-null int64
socialize          8000 non-null int64
relax              8000 non-null int64
learn              8000 non-null int64
equity             8000 non-null int64
class              8000 non-null int64
work_exper         8000 non-null int64
work_status        2951 non-null float64
work_yr            2951 non-null float64
work_type          2951 non-null float64
work_manage        2951 non-null float64
family_income      7999 non-null float64
family_m           8000 non-null int64
family_status      8000 non-null int64
house              8000 non-null int64
car                8000 non-null int64
marital            8000 non-null int64
status_peer        8000 non-null int64
status_3_before    8000 non-null int64
view               8000 non-null int64
inc_ability        8000 non-null int64
dtypes: float64(6), int64(35), object(1)
memory usage: 2.6+ MB

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
1483,1484,4,1,10,27,50,2015/7/27 18:04,2,1997,1,1,1,6,0,2,90.0,165,120,5,5,5,1,2,3,5,4,4,6,NaN,NaN,NaN,NaN,100000.0,2,4,2,2,1,2,2,4,2
6801,6802,4,1,12,32,61,2015/8/5 10:20,2,1987,1,1,1,7,0,2,50.0,154,120,4,5,3,1,3,3,2,2,5,1,3.0,2.0,1.0,3.0,-3.0,1,3,0,2,3,2,1,4,3
4655,4656,4,1,7,18,38,2015/8/2 9:27,2,1992,1,1,1,12,1000,1,42.0,161,96,5,5,4,2,2,4,3,2,3,5,NaN,NaN,NaN,NaN,-2.0,4,2,1,1,1,3,2,4,3
1023,1024,4,2,13,35,65,2015/9/20 17:42,1,1950,6,1,1,4,1800,1,160.0,162,90,4,3,3,1,2,4,2,4,5,3,NaN,NaN,NaN,NaN,51600.0,3,2,1,2,3,3,3,4,3
6471,6472,3,1,6,15,31,2015/8/9 16:39,2,1942,1,1,1,10,30000,2,50.0,160,120,4,3,3,1,2,4,2,3,4,5,NaN,NaN,NaN,NaN,70000.0,2,3,1,2,6,2,2,3,2
1441,1442,3,1,16,45,76,2015/7/26 10:53,1,1965,1,1,1,3,55000,1,110.0,169,154,4,4,5,4,5,3,1,5,5,2,NaN,NaN,NaN,NaN,60000.0,6,3,1,2,3,2,3,2,1
6846,6847,3,2,13,36,66,2015/9/22 13:49,1,1984,8,1,1,4,20000,1,240.0,168,122,5,5,5,1,3,2,2,3,5,1,5.0,4.0,1.0,4.0,80000.0,4,3,1,1,1,2,1,5,2
930,931,3,1,6,13,29,2015/8/7 9:52,1,1932,1,1,1,1,5000,1,50.0,155,80,2,3,3,1,3,3,1,3,3,4,NaN,NaN,NaN,NaN,20000.0,1,2,1,2,3,3,2,3,2
160,161,4,2,24,71,111,2015/8/9 16:24,1,1970,1,1,1,4,36000,1,200.0,170,120,4,4,4,1,4,1,1,3,6,1,5.0,25.0,2.0,3.0,-2.0,3,3,1,2,3,2,2,4,2
2026,2027,4,2,18,55,89,2015/7/24 11:14,2,1937,1,1,1,1,948,1,320.0,150,110,3,2,4,1,2,4,1,3,4,3,NaN,NaN,NaN,NaN,60000.0,3,3,1,2,7,2,1,3,2
6038,6039,5,2,8,19,41,2015/8/1 8:50,2,1993,4,0,4,6,-1,2,80.0,165,100,4,4,3,1,2,4,4,4,3,6,NaN,NaN,NaN,NaN,19000.0,6,2,1,2,1,3,1,4,-8
660,661,4,1,26,76,116,2015/9/29 20:42,1,1986,1,1,1,10,13500,1,120.0,182,130,4,4,4,1,2,1,1,3,6,1,3.0,7.0,1.0,2.0,85000.0,2,3,1,2,3,2,1,4,2
6259,6260,4,1,11,31,54,2015/7/21 17:13,2,1972,1,1,1,6,20000,1,80.0,159,120,3,3,4,1,3,4,2,3,3,1,2.0,18.0,1.0,4.0,70000.0,3,3,1,2,3,2,1,5,2
7840,7841,2,2,15,42,73,2015/7/12 9:00,2,1976,1,1,1,6,-3,1,260.0,165,130,5,4,4,1,2,3,1,2,4,1,8.0,20.0,1.0,3.0,-3.0,3,3,1,2,3,2,2,3,2
5818,5819,5,1,30,85,128,2015/10/18 11:53,1,1959,1,1,2,1,10000,4,90.0,166,140,3,4,3,2,1,5,1,1,6,5,NaN,NaN,NaN,NaN,18000.0,3,3,1,1,3,3,2,5,2
1098,1099,4,1,22,65,104,2015/7/7 10:46,2,1977,1,1,1,4,0,1,90.0,163,137,4,5,4,1,2,3,1,4,4,6,NaN,NaN,NaN,NaN,50000.0,3,3,1,2,3,2,1,4,-8
2874,2875,4,1,13,36,66,2015/9/20 16:31,1,1951,8,1,1,3,3516,1,200.0,158,120,4,4,5,1,4,3,2,4,4,3,NaN,NaN,NaN,NaN,3516.0,2,3,1,2,3,2,1,4,3
244,245,3,2,28,81,122,2015/7/31 17:32,1,1976,1,1,2,3,10000,1,240.0,162,140,3,3,4,1,3,2,1,2,5,3,NaN,NaN,NaN,NaN,23000.0,4,3,2,2,3,2,1,3,3
7699,7700,4,1,12,32,59,2015/8/8 11:52,1,1987,1,0,1,12,70000,1,20.0,168,132,4,4,3,5,3,3,3,2,5,1,3.0,5.0,1.0,3.0,100000.0,3,2,1,2,1,2,1,3,3
6723,6724,4,2,10,24,46,2015/7/26 13:30,1,1971,1,1,1,4,20000,1,200.0,180,140,3,2,3,1,3,3,2,4,5,1,1.0,8.0,1.0,4.0,5000.0,4,3,1,1,3,2,1,5,2

In [5]:
train_abbr.loc[train_abbr['work_status'].isnull()].sample(20)
#其中 工作一项有null值，所有以务农为业的人为null，非农业工作有值

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
7189,7190,4,1,1,1,1,2015/9/9 9:10,2,1951,1,1,1,12,80000,4,100.0,158,112,3,4,4,2,2,3,2,4,5,5,NaN,NaN,NaN,NaN,200000.0,3,3,2,2,3,2,2,4,2
4266,4267,2,1,6,12,28,2015/7/29 15:04,1,1956,1,1,1,4,15000,1,100.0,165,115,3,4,4,1,3,3,1,2,6,3,NaN,NaN,NaN,NaN,20000.0,2,3,1,2,3,3,2,4,2
7639,7640,4,2,28,81,123,2015/7/30 9:42,1,1941,1,1,1,4,6000,4,200.0,168,90,2,2,2,1,2,3,1,2,5,4,NaN,NaN,NaN,NaN,7000.0,2,2,1,2,3,1,1,4,2
3160,3161,4,2,11,30,53,2015/7/18 10:31,2,1949,1,1,1,1,0,1,78.0,157,87,4,4,3,1,3,3,1,2,4,6,NaN,NaN,NaN,NaN,0.0,4,2,1,2,3,3,2,4,-8
1657,1658,3,1,16,46,77,2015/7/24 12:57,1,1989,1,1,1,4,12000,1,348.0,170,115,3,4,2,4,3,2,2,4,4,5,NaN,NaN,NaN,NaN,-2.0,6,3,2,1,3,2,1,3,-8
5815,5816,4,2,31,89,134,2015/8/19 10:00,1,1950,1,1,1,4,5000,4,42.0,170,170,3,4,5,1,2,3,1,4,8,3,NaN,NaN,NaN,NaN,11000.0,2,2,1,2,3,2,3,4,2
6218,6219,4,2,6,14,30,2015/8/5 12:50,2,1964,1,1,1,3,1200,1,150.0,155,100,2,3,4,1,3,3,1,4,3,3,NaN,NaN,NaN,NaN,40000.0,5,3,1,2,3,2,2,3,2
7151,7152,5,1,22,67,107,2015/7/8 20:07,2,1927,1,1,1,1,0,1,113.0,156,80,4,5,4,2,1,4,1,5,4,4,NaN,NaN,NaN,NaN,150000.0,7,3,1,2,3,2,2,5,2
1451,1452,5,1,15,40,71,2015/7/10 17:19,2,1964,1,1,3,6,10800,1,69.0,160,112,3,4,3,1,3,4,1,4,5,5,NaN,NaN,NaN,NaN,87000.0,3,3,1,2,3,2,1,3,3
1191,1192,4,1,4,7,21,2015/9/28 14:52,2,1949,1,1,3,4,30000,1,75.0,159,106,2,2,5,2,2,1,2,2,3,5,NaN,NaN,NaN,NaN,30000.0,2,2,1,1,7,3,2,3,3
3113,3114,4,1,31,89,134,2015/9/12 11:29,2,1954,1,1,1,7,300000,4,113.0,160,116,5,5,5,2,1,4,1,4,5,5,NaN,NaN,NaN,NaN,50000.0,3,3,1,2,3,2,1,4,2
2188,2189,4,1,27,78,118,2015/8/3 17:41,2,1996,1,1,1,12,0,2,55.0,162,110,4,4,4,5,2,4,5,2,4,6,NaN,NaN,NaN,NaN,60000.0,3,2,1,2,1,2,2,4,-8
4103,4104,4,2,3,6,13,2015/9/25 16:48,1,1941,1,1,1,3,3000,1,80.0,170,120,5,3,5,1,3,4,2,5,6,3,NaN,NaN,NaN,NaN,6000.0,2,3,1,2,3,2,1,4,2
241,242,4,1,22,65,104,2015/7/5 10:57,2,1938,1,1,1,2,1900,1,60.0,155,148,3,3,5,2,2,4,1,2,5,5,NaN,NaN,NaN,NaN,1900.0,1,3,1,2,7,2,2,3,2
3685,3686,5,1,24,70,110,2015/8/9 9:15,2,1964,1,1,1,4,25000,1,80.0,168,112,4,4,1,5,5,5,4,1,5,5,NaN,NaN,NaN,NaN,60000.0,4,3,1,1,3,2,1,4,4
1396,1397,1,2,28,81,123,2015/7/30 8:56,1,1953,1,1,1,1,960,-8,72.0,155,140,2,3,3,1,2,3,2,3,1,4,NaN,NaN,NaN,NaN,6000.0,6,1,1,2,3,3,1,3,3
7166,7167,5,2,21,64,102,2015/7/21 11:37,2,1953,1,1,1,3,3000,1,360.0,154,100,2,2,3,1,4,4,2,4,7,4,NaN,NaN,NaN,NaN,45000.0,5,4,1,2,3,2,1,4,3
6091,6092,4,1,7,18,36,2015/8/5 10:50,1,1953,1,1,1,4,24000,1,45.0,180,160,3,4,5,5,3,4,4,4,5,5,NaN,NaN,NaN,NaN,60000.0,3,3,1,2,3,2,2,4,3
5468,5469,5,1,9,22,44,2015/7/7 13:36,1,1967,1,1,1,3,150000,1,550.0,175,200,5,5,5,2,4,3,1,2,6,3,NaN,NaN,NaN,NaN,150000.0,5,4,2,1,3,1,1,5,2
6544,6545,4,1,1,1,1,2015/9/2 9:26,2,1949,1,1,1,6,48000,1,44.0,161,134,3,4,4,2,2,4,2,4,4,5,NaN,NaN,NaN,NaN,48000.0,1,3,1,2,7,3,2,4,2

In [6]:
train_abbr.loc[train_abbr['family_income'].isnull()]

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
3129,3130,3,2,31,87,132,2015/8/16 12:38,2,1970,1,1,1,3,25000,1,90.0,160,90,2,5,3,1,4,3,1,1,1,3,NaN,NaN,NaN,NaN,NaN,4,1,1,2,3,2,1,2,3

In [7]:
#获取农村的、务农的人的家庭收入的平均数填入空值中
train_abbr.loc[(train_abbr['survey_type'] == 2 )& (train_abbr['work_exper'] == 3)&(train_abbr['family_income']>0)]['family_income'].mean()

39307.41739130435

In [8]:
train_abbr.loc[train_abbr['family_income'].isnull(),'family_income']\
      = train_abbr.loc[(train_abbr['survey_type'] == 2 )&
                       (train_abbr['work_exper'] == 3)&
                       (train_abbr['family_income']>0)]['family_income'].mean()

In [9]:
train_abbr_set = train_abbr.copy(deep=True)
train_abbr_set.dropna(axis=1,inplace=True)
target = train_abbr_set["happiness"]
train = train_abbr_set.drop(["happiness"], axis=1)
train = train.drop(["survey_time"], axis=1)

In [12]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(train, target,random_state=1)

tree_estimator = tree.DecisionTreeClassifier( random_state=0)

In [15]:
result = model_selection.cross_validate(tree_estimator, train_x, train_y, cv=5, return_train_score=True)
result

{'fit_time': array([0.08599997, 0.08500028, 0.0769999 , 0.07200003, 0.07399988]),
 'score_time': array([0.00100017, 0.00099993, 0.00099993, 0.00200009, 0.00099993]),
 'test_score': array([0.49709061, 0.45212323, 0.48459617, 0.46661102, 0.48621554]),
 'train_score': array([1., 1., 1., 1., 1.])}