In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
train_abbr = pd.read_csv('../data/happiness_train_abbr.csv')
test_abbr = pd.read_csv('../data/happiness_test_abbr.csv')
# train_complete = pd.read_csv('../data/happiness_train_complete.csv')
# test_complete = pd.read_csv('../data/happiness_test_complete.csv')

In [3]:
train_abbr.info()
train_abbr.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 42 columns):
id                 8000 non-null int64
happiness          8000 non-null int64
survey_type        8000 non-null int64
province           8000 non-null int64
city               8000 non-null int64
county             8000 non-null int64
survey_time        8000 non-null object
gender             8000 non-null int64
birth              8000 non-null int64
nationality        8000 non-null int64
religion           8000 non-null int64
religion_freq      8000 non-null int64
edu                8000 non-null int64
income             8000 non-null int64
political          8000 non-null int64
floor_area         8000 non-null float64
height_cm          8000 non-null int64
weight_jin         8000 non-null int64
health             8000 non-null int64
health_problem     8000 non-null int64
depression         8000 non-null int64
hukou              8000 non-null int64
socialize          8000 non-null int64
relax              8000 non-null int64
learn              8000 non-null int64
equity             8000 non-null int64
class              8000 non-null int64
work_exper         8000 non-null int64
work_status        2951 non-null float64
work_yr            2951 non-null float64
work_type          2951 non-null float64
work_manage        2951 non-null float64
family_income      7999 non-null float64
family_m           8000 non-null int64
family_status      8000 non-null int64
house              8000 non-null int64
car                8000 non-null int64
marital            8000 non-null int64
status_peer        8000 non-null int64
status_3_before    8000 non-null int64
view               8000 non-null int64
inc_ability        8000 non-null int64
dtypes: float64(6), int64(35), object(1)
memory usage: 2.6+ MB

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
1240,1241,4,1,12,32,57,2015/7/25 14:57,2,1964,1,-8,1,4,0,2,100.0,160,100,4,-8,4,5,2,4,3,2,5,5,NaN,NaN,NaN,NaN,100000.0,3,2,1,1,3,3,2,3,3
59,60,4,2,18,55,89,2015/7/24 11:20,1,1969,1,0,4,4,35000,4,120.0,175,175,5,5,5,1,4,3,3,2,5,2,NaN,NaN,NaN,NaN,50000.0,5,2,1,2,3,2,2,4,2
1122,1123,4,1,31,87,132,2015/8/22 13:30,1,1976,1,1,1,7,-2,1,30.0,173,160,4,5,5,2,2,1,1,3,3,1,5.0,20.0,1.0,3.0,50000.0,4,3,1,2,3,3,2,4,2
409,410,5,2,18,51,84,2015/7/28 10:55,2,1950,1,1,1,3,3000,1,150.0,158,120,5,4,4,1,2,4,2,4,5,4,NaN,NaN,NaN,NaN,30000.0,2,3,1,2,3,2,2,4,2
4593,4594,4,2,24,70,110,2015/8/2 20:08,2,1936,1,1,1,1,0,1,50.0,150,70,4,3,3,1,2,4,1,3,5,4,NaN,NaN,NaN,NaN,1000.0,2,2,1,2,3,2,2,-8,-8
724,725,4,1,12,32,60,2015/7/30 13:13,1,1995,1,1,1,7,0,1,192.0,165,120,3,5,2,5,4,5,1,2,5,5,NaN,NaN,NaN,NaN,100000.0,3,4,1,2,1,2,1,4,-8
7990,7991,4,1,27,79,119,2015/7/25 19:54,1,1990,1,1,1,4,40000,2,50.0,170,160,4,5,4,1,5,5,2,3,2,1,3.0,2.0,1.0,1.0,40000.0,1,1,1,2,1,3,1,4,2
1616,1617,4,2,10,24,46,2015/7/27 10:59,2,1984,4,0,4,3,0,1,70.0,167,140,5,5,5,1,4,4,3,4,5,3,NaN,NaN,NaN,NaN,50000.0,4,3,0,1,3,2,2,3,2
3308,3309,4,2,6,14,30,2015/8/7 11:36,2,1949,1,1,1,1,500,1,100.0,155,110,1,2,3,1,3,3,1,4,3,3,NaN,NaN,NaN,NaN,0.0,4,3,1,2,7,3,2,3,2
5825,5826,3,1,4,7,21,2015/10/12 13:21,1,1959,1,-8,1,10,50000,1,50.0,170,150,3,3,5,5,2,3,2,2,3,5,NaN,NaN,NaN,NaN,-2.0,2,3,1,2,3,3,2,2,2
2872,2873,5,1,10,26,48,2015/7/30 18:38,1,1950,1,1,1,3,40000,4,60.0,172,135,4,3,4,2,4,4,2,4,6,5,NaN,NaN,NaN,NaN,40000.0,2,3,1,2,3,2,2,4,1
1330,1331,2,2,9,22,44,2015/7/5 15:27,2,1982,1,1,1,4,-1,1,150.0,160,104,5,5,3,1,2,2,1,4,2,5,NaN,NaN,NaN,NaN,-2.0,3,2,1,2,3,2,1,4,3
2784,2785,4,2,13,36,66,2015/9/22 14:07,1,1965,8,1,1,4,6000,1,130.0,172,130,4,4,5,1,5,5,1,5,5,1,5.0,20.0,2.0,3.0,10000.0,3,2,1,2,3,3,2,3,2
3482,3483,4,1,18,51,84,2015/7/27 14:55,2,1972,1,0,4,6,0,1,160.0,162,65,5,5,4,1,5,4,2,2,5,5,NaN,NaN,NaN,NaN,40000.0,4,3,1,2,3,2,2,3,2
3668,3669,4,1,28,81,121,2015/7/31 10:33,2,1957,1,1,1,3,55000,1,70.0,180,130,2,4,4,1,2,4,2,4,4,1,6.0,-1.0,2.0,4.0,60000.0,5,2,0,2,3,3,3,4,2
4856,4857,4,1,9,20,42,2015/7/10 14:38,1,1966,1,1,1,6,50000,1,120.0,167,130,4,4,3,4,2,3,2,4,4,1,1.0,30.0,1.0,1.0,60000.0,3,3,1,2,3,3,2,4,3
1612,1613,4,1,7,18,35,2015/8/13 16:06,1,1970,1,1,1,4,25000,1,120.0,178,170,4,5,4,1,1,3,2,2,1,1,3.0,6.0,1.0,3.0,25000.0,2,2,1,2,6,3,2,4,2
7310,7311,4,1,31,87,132,2015/8/27 19:27,2,1949,1,1,1,7,36000,1,56.0,160,130,5,5,4,2,3,3,2,4,5,5,NaN,NaN,NaN,NaN,70000.0,3,3,1,2,3,2,2,4,2
6140,6141,4,1,1,1,8,2015/9/17 9:13,1,1969,1,1,1,11,72000,1,119.0,172,140,4,4,4,2,1,2,2,4,7,1,3.0,20.0,1.0,3.0,144000.0,3,2,1,2,3,3,2,3,3
7175,7176,3,1,19,56,90,2015/7/15 10:25,1,1958,1,0,6,6,12000,1,38.0,178,138,4,4,4,2,1,4,3,2,4,1,3.0,20.0,1.0,3.0,24000.0,2,2,1,2,3,3,2,4,3

In [4]:
train_abbr.loc[train_abbr['work_status'].isnull()].sample(20)
#其中 工作一项有null值，所有以务农为业的人为null，非农业工作有值

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
3822,3823,3,2,16,46,78,2015/7/29 11:46,2,1965,1,1,3,1,0,1,150.0,145,90,5,5,5,1,3,4,1,4,3,3,NaN,NaN,NaN,NaN,30000.0,5,2,1,2,3,2,1,4,3
2794,2795,4,1,7,18,35,2015/8/12 10:44,1,1960,4,0,1,4,0,1,80.0,172,120,4,5,5,2,1,4,2,3,4,5,NaN,NaN,NaN,NaN,30000.0,5,2,1,2,3,2,2,4,2
5138,5139,5,2,2,3,10,2015/7/26 17:10,1,1980,1,1,1,3,8000,1,50.0,165,100,3,4,3,1,2,3,1,5,5,2,NaN,NaN,NaN,NaN,8000.0,6,3,1,2,3,2,1,4,2
1854,1855,4,2,18,54,88,2015/7/12 12:58,1,1971,1,1,1,4,0,1,70.0,168,114,5,5,4,1,2,4,1,3,5,2,NaN,NaN,NaN,NaN,0.0,4,1,1,2,3,3,2,3,4
1402,1403,2,2,31,89,134,2015/8/19 12:50,1,1951,1,1,1,3,8000,1,50.0,171,120,2,2,3,1,3,4,2,2,1,3,NaN,NaN,NaN,NaN,8000.0,1,1,1,2,3,3,2,4,3
2988,2989,4,1,22,65,104,2015/7/7 9:06,2,1952,1,1,1,3,0,1,60.0,155,135,3,5,5,4,1,4,1,4,4,5,NaN,NaN,NaN,NaN,30000.0,3,3,2,2,3,3,1,4,3
311,312,4,1,27,80,120,2015/7/29 19:45,2,1975,1,1,1,6,0,1,90.0,164,115,4,5,5,2,4,4,2,4,5,5,NaN,NaN,NaN,NaN,50000.0,3,2,1,2,3,3,2,3,3
823,824,4,1,15,39,70,2015/7/12 10:51,2,1956,1,1,1,1,2000,1,100.0,165,125,3,4,4,1,4,4,1,1,1,3,NaN,NaN,NaN,NaN,60000.0,2,3,1,2,3,2,2,4,-8
4094,4095,4,1,13,36,66,2015/9/20 14:25,2,1945,8,1,1,3,-2,1,150.0,150,98,5,4,4,1,4,3,1,2,4,2,NaN,NaN,NaN,NaN,10000.0,6,3,1,2,3,2,1,4,-8
455,456,4,1,18,51,84,2015/7/27 9:52,2,1978,1,0,7,3,0,1,120.0,167,140,4,4,4,1,4,3,1,3,5,5,NaN,NaN,NaN,NaN,0.0,3,3,1,2,3,2,1,4,2
2644,2645,4,2,28,81,123,2015/7/30 13:25,1,1955,1,1,1,3,45000,1,60.0,167,130,4,3,3,1,4,4,1,4,4,3,NaN,NaN,NaN,NaN,4860.0,2,2,1,2,3,2,2,3,3
5377,5378,5,1,19,59,95,2015/7/16 15:29,2,1965,1,1,1,6,0,2,54.4,159,91,2,2,5,2,1,5,1,1,1,5,NaN,NaN,NaN,NaN,0.0,3,3,0,2,6,3,2,3,-8
1090,1091,4,1,6,15,31,2015/8/11 12:19,2,1951,1,1,1,3,10000,1,70.0,161,120,4,3,3,1,2,2,2,4,3,4,NaN,NaN,NaN,NaN,50000.0,2,2,0,2,7,2,2,4,2
3290,3291,3,1,5,8,23,2015/8/1 9:06,2,1962,1,1,1,6,19200,1,65.0,165,120,2,3,3,2,2,3,2,3,3,5,NaN,NaN,NaN,NaN,50000.0,2,3,0,2,3,2,2,3,3
4427,4428,3,2,2,4,11,2015/7/30 14:17,1,1961,1,1,1,3,0,1,40.0,157,160,2,2,3,1,3,1,1,4,1,3,NaN,NaN,NaN,NaN,12000.0,3,2,1,2,3,2,1,3,2
4377,4378,4,2,22,66,106,2015/7/13 8:00,1,1970,1,1,3,4,20000,1,90.0,172,125,4,4,3,1,4,4,2,4,4,2,NaN,NaN,NaN,NaN,30000.0,2,2,1,2,7,3,2,4,2
7320,7321,3,1,6,14,30,2015/8/7 11:22,1,1953,1,1,1,3,4000,1,80.0,170,140,3,3,3,1,2,2,1,4,4,4,NaN,NaN,NaN,NaN,40000.0,4,3,1,2,3,2,2,4,2
224,225,4,1,26,75,115,2015/8/7 11:32,1,1955,1,1,1,3,24000,1,80.0,170,110,4,3,3,1,3,3,3,2,5,5,NaN,NaN,NaN,NaN,72000.0,2,3,2,2,3,2,1,2,2
813,814,5,2,18,53,87,2015/7/15 15:37,1,1951,1,1,1,6,4000,4,140.0,171,135,4,4,4,1,4,3,3,4,1,2,NaN,NaN,NaN,NaN,8000.0,2,2,1,2,3,3,2,3,2
3482,3483,4,1,18,51,84,2015/7/27 14:55,2,1972,1,0,4,6,0,1,160.0,162,65,5,5,4,1,5,4,2,2,5,5,NaN,NaN,NaN,NaN,40000.0,4,3,1,2,3,2,2,3,2

In [5]:
train_abbr.loc[train_abbr['family_income'].isnull()]

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
3129,3130,3,2,31,87,132,2015/8/16 12:38,2,1970,1,1,1,3,25000,1,90.0,160,90,2,5,3,1,4,3,1,1,1,3,NaN,NaN,NaN,NaN,NaN,4,1,1,2,3,2,1,2,3

In [6]:
#获取农村的、务农的人的家庭收入的平均数填入空值中
train_abbr.loc[(train_abbr['survey_type'] == 2 )& (train_abbr['work_exper'] == 3)&(train_abbr['family_income']>0)]['family_income'].mean()

39307.41739130435

In [9]:
train_abbr.loc[train_abbr['family_income'].isnull(),'family_income']\
      = train_abbr.loc[(train_abbr['survey_type'] == 2 )&
                       (train_abbr['work_exper'] == 3)&
                       (train_abbr['family_income']>0)]['family_income'].mean()

In [10]:
train_abbr.loc[train_abbr['family_income'].isnull()]

Empty DataFrame
Columns: [id, happiness, survey_type, province, city, county, survey_time, gender, birth, nationality, religion, religion_freq, edu, income, political, floor_area, height_cm, weight_jin, health, health_problem, depression, hukou, socialize, relax, learn, equity, class, work_exper, work_status, work_yr, work_type, work_manage, family_income, family_m, family_status, house, car, marital, status_peer, status_3_before, view, inc_ability]
Index: []